@COLOR_BLUE:   #3bc;
@COLOR_GREEN:  #6c3;
@COLOR_RED:    #f24;
@COLOR_YELLOW: #fd2;
@COLOR_PURPLE: #96b;
@COLOR_GREY:   #777;
@COLOR_SILVER: #eee;

@FONT_NORMAL: -apple-system-body, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
@FONT_HEADING: @FONT_NORMAL;

@BORDER_RADIUS: 2px;
@SHADOW: 0 3px 6px fade(black, 7%);
