@import "../styles/constants.less";

@mapZ: 1;
@navigationZ: @mapZ + 1;
@bottomPanelZ: @mapZ + 1;
@errorModalZ: @mapZ + 2;


.root {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: @NAVIGATION_HEIGHT;
    z-index: @navigationZ;
}

.primaryMap {
    position: absolute;
    top: @NAVIGATION_HEIGHT;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: @mapZ;
    transition: bottom .2s ease-in;

    .isPanelOpen & {
        bottom: @BOTTOM_PANEL_HEIGHT !important;
    }
}

.bottomPanel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: @bottomPanelZ;
    transition: height .2s ease-in;

    .isPanelOpen & {
        height: @BOTTOM_PANEL_HEIGHT !important;
    }
}

.errorModal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: @errorModalZ;
}
